/* dropdowns */
.dropdownWrapper {
    display: inline-block;
}
.dropdownWrapper .dropdown {
    border-top: 1px solid var(--slot-top);
    border-bottom: 1px solid var(--slot-bottom);
    border-left: 1px solid var(--slot-side);
    border-right: 1px solid var(--slot-side);
    background-color: var(--main-dark);
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    box-shadow: 0 0 4px #262526 inset, var(--slot-shadow);
    margin-top: 1px;
    margin-bottom: 1px;
}
.dropdownWrapper.open .dropdown {
    border-top: 1px solid var(--main-top);
    border-bottom: 1px solid var(--main-top);
    border-left: 1px solid var(--main-side);
    border-right: 1px solid var(--main-side);
    padding: 0.4em;
    position: absolute;
    z-index: 10;
    transition: height 0.1s;
    height: auto;
    width: auto;
    cursor: default;
    box-shadow: none;
    background-color: var(--dark-overlay);
    -webkit-backdrop-filter: var(--blur-overlay);
    backdrop-filter: var(--blur-overlay);
}
@supports (backdrop-filter:blur()) or (-webkit-backdrop-filter:blur()) {
    .dropdownWrapper.open .dropdown {
        background-color: var(--dark-overlay-blur);
    }
}
.dropdownWrapper .clicker {
    display: none;
}
.dropdownWrapper.open .clicker {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    top: 0px;
    left: 0px;
    cursor: default;
}
.dropdownWrapper .dropdown:hover {
    border-color: var(--accent);
    box-shadow: 0 0 10px -4px var(--accent) inset, 0 0 6px -1px var(--accent), 0 0 8px 1px #373331;
}
.dropdownWrapper.open .dropdown:hover {
    border-top: 1px solid var(--main-top);
    border-bottom: 1px solid var(--main-top);
    border-left: 1px solid var(--main-side);
    border-right: 1px solid var(--main-side);
    box-shadow: none;
}
.dropdownWrapper .spacer {
    display: none;
}
.dropdownWrapper.open .spacer {
    border: 1px solid transparent;
    margin: 3px 2px;
    display: inline-block;
    vertical-align: middle;
}
.dropdownWrapper .dropdown br, .dropdownWrapper .dropdown hr {
    display: none;
}
.dropdownWrapper.open .dropdown br {
    display: inline;
}
.dropdownWrapper.open .dropdown br {
    display: inline;
}
.dropdownWrapper.open .dropdown hr {
    display: block;
    border-color: var(--table-side);
    border-style: solid;
    border-top-color: var(--table-top);
    border-bottom-color: var(--table-bottom);
}
.dropdownWrapper .dropdown input[type="radio"] {
    display: none;
}
.dropdownWrapper.open div.itemDropdown input[type="radio"] + label {
    padding: 1px;
}
.dropdownWrapper .dropdown input[type="radio"] + label {
    display: none;
    margin: 2px;
}
.dropdownWrapper.open .dropdown input[type="radio"] + label {
    display: inline-block;
    border-top: 1px solid var(--slot-top);
    border-bottom: 1px solid var(--slot-bottom);
    border-left: 1px solid var(--slot-side);
    border-right: 1px solid var(--slot-side);
    background-color: var(--main-dark);
    box-shadow: 0 0 4px #262526 inset;
    padding: 0.1em;
}
.dropdownWrapper .dropdown input[type="radio"] + label:hover {
    background-color: var(--main-dark);
    border-color: var(--accent);
    box-shadow: 0 0 10px -4px var(--accent) inset, 0 0 6px -1px var(--accent), 0 0 8px 1px #373331;
    
}
.dropdownWrapper .dropdown input[type="radio"]:checked + label {
    display: inline-block;
    pointer-events: none;
}
.dropdownWrapper.open .dropdown input[type="radio"]:checked + label {
    background-color: var(--main);
    border-color: var(--accent);
    box-shadow: 0 0 10px -4px var(--accent) inset, 0 0 6px -1px var(--accent), 0 0 8px 1px #373331;
    pointer-events: auto;
}
